body { background-color: #C5FBFF !important; }
	
.logo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
	transition: color 0.2s;
	display: inline-block;
	height: 50px;
	width: 200px;
	text-align: center;
	line-height: 50px;
}

.logo:hover {
	color: #0d6efd;
}

.dropdown .dropdown-menu {
    display: none;
}
	
.dropdown:hover .dropdown-menu {
	display: block;
}
	
.dropdown-item:hover {
	background-color: lightgrey;
	color: blue;
}